/* header {
    display: flex;
    position: relative;
} */

*{
    margin: 0;
    padding: 0;
}


#bodyProdutos{
    width: 100%;
    height: 500px;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;

}

/* .classProduto{
    justify-content: space-around;
} */

#imgProduto{
    width: 400px;
    height: 400px;
    /* position: absolute; */
    left: 100px;
   
}

#h1Produto{
    /* position: absolute; */
    left: 550px;
    font-size: 30px;
}

#h2Produto{
    /* position: absolute; */
    left: 550px;
    font-size: 25px;
    top: 50px;
}

#pProduto{
    /* position: absolute; */
    left: 550px;
    font-size: 20px;
    top: 100px;
    padding: 1em 15em;
}

